* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #eef2ff;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
  padding: 20px;
  gap: 20px;
}

/* Sidebar */

.sidebar {
  width: 260px;
  background: #ffffff;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.doctor-profile {
  text-align: center;
  margin-bottom: 40px;
}

.doctor-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #2563eb;
  margin-bottom: 15px;
}

.doctor-profile h2 {
  color: #2563eb;
  margin-bottom: 5px;
}

.doctor-profile p {
  color: #2563eb;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 40px;
}

.menu-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 18px 20px;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  cursor: pointer;
  background: none !important;
  transition: 0.3s;
  color: #111827;
}

.menu-btn:hover {
  color: #2563eb;
}

.menu-icon {
  font-size: 18px;
}

.logout-btn {
  color: #111827;
}

.logout-btn:hover {
  color: red;
}

.active-menu {
  color: #2563eb;
  font-weight: 600;
}

/* Main Content */

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.card h3 {
  color: #64748b;
  margin-bottom: 10px;
}

.card h1 {
  color: #1e293b;
  font-size: 36px;
}

.content-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* Appointment Section */


.appointment-section h2 {
  margin-bottom: 20px;
  color: #1e293b;
}

.appointment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background: #f8fafc;
  border-radius: 14px;
  margin-bottom: 15px;
}

.appointment-card h4 {
  color: #0f172a;
  margin-bottom: 5px;
}

.appointment-card p {
  color: #64748b;
}

.appointment-card span {
  background: #2563eb;
  color: white;
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 14px;
}

/* Right Section */

.right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-box,
.calendar-box {
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.review-box h2,
.calendar-box h2 {
  margin-bottom: 20px;
  color: #1e293b;
}

.review-item {
  margin-bottom: 18px;
}

.review-item span {
  display: block;
  margin-bottom: 8px;
  color: #334155;
}

.progress {
  width: 100%;
  height: 10px;
  background: #e2e8f0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  border-radius: 10px;
}

.excellent {
  width: 90%;
  background: #2563eb;
}

.good {
  width: 70%;
  background: #22c55e;
}

.average {
  width: 50%;
  background: #f59e0b;
}

/* Calendar */
.calendar-wrapper {
  width: 100%;
}

/* Main Calendar */

.react-calendar {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 15px;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

/* Week Days */

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  color: #64748b;
  margin-bottom: 10px;
}

/* Dates */

.react-calendar__tile {
  height: 50px;
  border-radius: 12px;
  font-size: 14px;
}

/* Active Date */

.react-calendar__tile--active {
  background: none !important;
  color:#2563eb !important;
  font-weight: 600 !important;
}

/* Today's Date */

.react-calendar__tile--now {
  background: none !important;
  color: #2563eb;
  font-weight: 600 !important;
}

/* Responsive */

@media (max-width: 900px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content-grid {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid #2563eb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #2563eb;
}

.content-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: start;
}

/* Right Side */

.right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Appointment Section */

.appointment-section {
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  min-height: 100%;
}

/* summary Box */

.summary-box {
  height: 100%;
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.summary-box h2 {
  margin-bottom: 35px;
  color: #1e293b;
}

.col-or{
  color: #c9d5fb;
}
.co-lor{
  color: #f59e0b;
}
.colo-r{
  color: #2563eb;
}
.m10{
  margin-left: 15px;
  margin-top: 10px;
}
.m50{
  margin-top: 50px;
  margin-left: 15px;
}
/* Chart */

.chart-container {
  width: 250px;
  height: 250px;
  margin: auto;
}